[submodule "dep/googletest"]
	path = dep/googletest
	url = https://github.com/google/googletest
[submodule "dep/spdlog"]
	path = dep/spdlog
	url = https://github.com/gabime/spdlog
[submodule "dep/boost"]
	path = dep/boost
	url = https://github.com/boostorg/boost
