[submodule "dep/googletest"]
	path = dependency/googletest
	url = https://github.com/google/googletest
[submodule "dep/spdlog"]
	path = dependency/spdlog
	url = https://github.com/gabime/spdlog
[submodule "dep/boost"]
	path = dependency/boost
	url = https://github.com/boostorg/boost
[submodule "dependency/bitsery"]
	path = dependency/bitsery
	url = https://github.com/fraillt/bitsery
