@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;700&family=Fira+Sans:ital,wght@0,400;0,700;1,400&display=swap');

dd > em {
    font-family: var(--font-stack--monospace);
    font-style: normal;
}

aside.sidebar-drawer {
    width: calc(50% - 18.5em);
}

.highlight span {
    font-style: normal !important;
}